button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  background-color: rgb(245, 248, 251);
  padding-left: 50px;
}

.stopwatch {
  font-size: 8em;
  width: 100vw;
  text-align: justify;
}

.horizontal-container {
  display: flex;
  width: 100vw;
  justify-content: right;
  align-items: center;
}

.rounded-btn {
  /*background-color: #4CAF50;*/
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.start {
  background-color: rgb(24, 166, 157);
}
.split {
  background-color: rgb(242, 158, 38);
}
.reset {
  background-color: rgb(68, 135, 208);
}
.pause {
  background-color: rgb(251, 101, 127);
}

button:disabled,
button[disabled] {
  border: 1px solid rgb(173, 173, 173);
  background-color: rgb(245, 248, 251);
  color: rgb(173, 173, 173);
  cursor: not-allowed;
}

#split-time {
  color: orange;
  font-size: 2em;
}

#seconds,
#minutes,
#hours,
#hundredthOfMillis {
  font-size: 2em;
}

#tenthOfMillis,
#unitMillis {
  font-size: 0.5em;
}

#container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  font-size: 1.5em;
}

.gray {
  color: gray;
}

.lightGray {
  color: rgb(173, 173, 173);
}

.splitLogEntry {
  color: rgb(242, 158, 38);
}

.pauseLogEntry {
  color: rgb(251, 101, 127);
}
